alembic==1.0.5
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
Click==7.0
dnspython==1.16.0
email-validator==1.0.2
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-Validator==1.2.3
funcsigs==1.0.2
idna==2.8
isbnlib==3.6.8
iso3166==0.8
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
Markdown==2.4.1
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib2==2.3.3
pdoc==0.3.2
pluggy==0.8.0
py==1.7.0
py-moneyed==0.7.0
pytest==4.0.2
python-dateutil==2.7.5
python-dotenv==0.10.1
python-editor==1.0.3
pytz==2017.2
sadisplay==0.4.9
scandir==1.9.0
six==1.12.0
SQLAlchemy==1.2.15
Werkzeug==0.14.1
