Babel==2.6.0
Flask==1.1.4
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.50
GitPython==3.0.9
git+https://github.com/xeBuz/Flask-Validator.git@v1.4#egg=Flask-Validator
pdoc==0.3.2
pytest==5.3.5
pytest-cov==2.7.1
python-dotenv==0.10.1
sadisplay==0.4.9
Werkzeug==1.0.1
stripe==2.17.0
rfc3339==6.0
ansicolors==1.1.8
mysqlclient==1.4.2
prometheus_client==0.7.1
requests==2.24.0
Jinja2==3.1.3
itsdangerous==1.1.0
MarkupSafe==1.1.1
