{% extends "base.html" %}
{% block head_script_section %}
  {{ super() }}
  <script>
    var stripe = "asdf";
    donateHttpGetAsync("{{ data.nonce }}", initStripe, stripe)
  </script>
{% endblock %}
{% block content %}
      <div class="container">
    
        <!-- Header -->
        <div class="row donation-header">
          <div class="col-md-8 col-md-offset-3 donation-title">
            <a href="https://donate.noisebridge.net/">
              <img class="center noisebridge-logo" 
                   src="{{ url_for('static', filename='images/noisebridge_logo.jpg') }}" 
                   alt="Noisebridge logo" />
            </a>
            <h1>Donate Now! Keep Noisebridge Hackerspace Alive in San Francisco!!</h1>
          </div>
        </div>  
    
        <!-- Copy text -->
        <div class="row donation-copy">
          <div class="col-md-8 col-md-offset-3">
            <p>
              Our lease, at 2169 Mission Street, is up in August and the landlord has told us that it won't be renewed. 
              That throws us into a crunch to find and fund a new space, and move all of our blinky stuff and well-loved 
              tools before August. We're raising money to fill a war-chest to allow us to afford our new space and cover expenses.
            </p>
            <p>
              Since we last moved, rents for our type of space have almost tripled.  We're looking at several options 
              for an accessible, industrial space close to public transit, but it's clear that whichever we choose, 
              we're going to have to deal with a significant rent increase.
            </p>
            <p>
              Any donations to Noisebridge are tax deductible as we are a 501(c)(3). Please consider signing up for a 
              monthly donation, reoccuring revenue is the best way to keep us afloat.
            </p>
            <p>
              PS. If you have a lead on a cheap industrial space near transit, please let us know ( secretary@noisebridge.net ).
              Also, if you, or an organization you are a part of would like to discuss a larger donation or loan that could help 
              us buy a building and ensure a permanent home for Noisebridge, please get in contact!
            </p>
          </div>
        </div>
    
        <div class="row">
    
          <!-- Donation form -->
          <div class="col-md-4 col-md-offset-3 donation-form" id="form">
            <h3>Make a donation</h3>
            <div class="alerts">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
       
            {% if error %}
              <p class=error><strong>Error:</strong> {{error}}
            {% endif %}
            <div role="tabpanel" class="donations">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#credit-card" aria-controls="credit-card" role="tab" data-toggle="tab">Credit Card</a></li>
                <li role="presentation"><a href="#bitcoin" aria-controls="bitcoin" role="tab" data-toggle="tab">Bitcoin</a></li>
              </ul>
            
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="credit-card">
                  <form class="donation-form" action="/donation" accept-charset="UTF-8" method="post">
    
                    <!-- 
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input type="hidden" name="authenticity_token" value="CLEEjMbh7v+witbVpmWXmvuoJSONbouk98RovQWNwtNal/vRARndzw+Kl3WCyhZV26PWZNap2KWTgI5Zxf4yOA==" />
                    -->
    
                    <!-- Donation amount -->
                    <div class="form-group amount">
                      <label for="charge[amount]">
                        Donation
                        <a href="https://stripe.com">
                          <span class="powered-by-stripe"></span>
                        </a>
                      </label>
                     
                      <select name="charge[amount]" id="charge-amount" class="form-control" autocomplete="off">
                        <option selected="selected" value="10">$10</option>
                        <option value="20">$20</option>
                        <option value="40">$40</option>
                        <option value="80">$80</option>
                        <option value="160">$160</option>
                        <option value="other">Other</option>
                      </select>
    
                      <div id="donation-form-custom-amount">
                        <div class="input-group custom-amount">
                          <span class="input-group-addon">$</span>
                          <input type="text" name="charge[amount]" class="form-control" inputmode="number" aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-addon">.00</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group project">
                      <label for="project_select">
                      For Project:
                      </label>
                    </div>
                    <div id="project-selection">
                      <select name="project_select" id="donation-for-project" class="form-control">
                          <option selected="selected" value="General Fund">General Fund</option>
                          {% if projects %}
                            {% for project in projects %}
                              <option value="{{ project.name }}">{{ project.name }}</option>
                            {% endfor %}
                          {% endif %}
                        </select>
                      </div>

                    <!-- Credit card details -->
                    <div class="form-group cc-details">
                      <input type="text" class="form-control cc-number" data-stripe="number" inputmode="numeric" placeholder="Card number" required />
                      <input type="text" class="form-control cc-exp" data-stripe="exp" inputmode="numeric" placeholder="MM/YYYY" required />
                      <input type="text" class="form-control cc-cvc" data-stripe="cvc" inputmode="numeric" placeholder="CVC" />
                    </div>
                    
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="charge[recurring]"> Recurring donation on a monthly basis
                      </label>
                    </div>
                    
                    <!-- Donor information -->
                    <div class="form-group">
                      <label for="donor[email]">Email</label>
                      <input type="email" class="form-control" name="donor[email]" placeholder="edward.snowden@eff.org" />
                    </div>
                    
                    <div class="form-group">
                      <label for="donor[name]">Name</label>
                      <input id="donation-form-name" type="text" class="form-control" name="donor[name]" placeholder="Edward Snowden" required />
                    </div>
                    
                    <div class="checkbox">
                      <label>
                        <input id="donation-form-anonymous" type="checkbox" name="donor[anonymous]"> I wish to be anonymous
                      </label>
                    </div>
                    
                    <div class="form-group">
                      <button name="button" type="submit" class="btn btn-primary">Donate</button>
                    </div>
            
                  </form>
                  
                </div>  
                <div role="tabpanel" class="tab-pane" id="bitcoin">
                  <div class="bitcoin">
                    <p>Bitcoin Address: <a href="bitcoin:1NrbWrxkdPuyPfFtc1W4AKNtkQMyXwAAJV">1NrbWrxkdPuyPfFtc1W4AKNtkQMyXwAAJV</a></p>
                    <img src="../static/images/bitcoin_address.png" alt="Bitcoin address" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Summary of recent donations and projects -->
          <div class="col-md-4 summary">
            <div class="table-container">
              <h3>Recent donations</h3>
              <ol>
                {% for d in data.recent_donations %}
                  <li>{{ "%s - $%d %s" % (d.name, d.amount, (" towards %s " % d.project) if d.project else "") }}</li>
                {% endfor %}
              </ol>
            </div>
          
            <div class="table-container">
              <h3>Current projects</h3>
              <ol>
                {% for d in data.projects %}
                  <li>{{ "%s - balance of $%d FIX ME AND PROBABLY FILTER OUT GENERAL EH" % (d.name, d.goal) }}</li>
                {% endfor %}
              </ol>
            </div>
          </div>
    
        </div> <!-- end row -->
      </div> <!-- end container -->
{% endblock %}
