{% extends "base.html" %}
{% block content %}
      <div class="container">
        <div class="row donation-header">
          <div class="col-md-6 col-md-offset-4 thanks-title">
            <a href="https://www.noisebridge.net/">
              <img class="center noisebridge-logo" src="../static/images/noisebridge_logo.jpg" alt="Noisebridge logo" />
            </a>
            <h1>Thank You!</h1>
          </div>
        </div>
    
        <div class="row donation-copy">
          <div class="col-md-8 col-md-offset-3 thanks">
            <p>You donated! That's incredible. We're humbled and immensely thankful for your support.</p>
            <p>
              <img src="../static/images/noisebridge_thanks.jpg" alt="Noisebridge thanks" />
            </p>
          </div>
        </div>
      </div> <!-- end container -->
{% endblock %}
