@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');

/* Global/body */

body {
  font-family: "Bitter", serif !important;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 10px;
}

/* Header */

.donation-title > * {
  margin: 20px;
}
.donation-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donation-title h1 { 
  font-weight: bold;
}

.noisebridge-logo {
  width: 230px;
}

/* Donation form */

.donations .nav.nav-tabs {
  margin-bottom: 10px;
}

.donation-form .form-group.amount label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation-form .form-group.amount label span.powered-by-stripe {
  display: inline-block;
  background-image: url("../images/powered_by_stripe.png");
  background-size: 119px 26px;
  height: 26px;
  width: 119px;
}
.donation-form .form-group.cc-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.donation-form .form-group.cc-details input {
  margin: 0px 5px;
  width: 0%;
  max-width: 50%;
}
.donation-form .form-group.cc-details input:first-child {
  margin-left: 0px;
}
.donation-form .form-group.cc-details input:last-child {
  margin-right: 0px;
}
.donation-form .form-group.cc-details input.cc-number {
  flex-grow: 5;
}
.donation-form .form-group.cc-details input.cc-exp {
  flex-grow: 2;
}
.donation-form .form-group.cc-details input.cc-cvc {
  flex-grow: 1;
}

.donation-form #donation-form-custom-amount {
  display: none;
}
.donation-form .input-group.custom-amount {
  margin-top: 10px;
}
.donation-form .bitcoin {
  text-align: center;
}

.donation-progress h3 {
  text-align: center;
}

/* New Project */
.new-project-instructions {
}

.project-currency {
}

.project-description {
}

.project-name {
}

.project-goal {
}

/* Thanks */

.thanks-title {
  text-align: center;
}
.thanks-title h1 {  
  font-weight: bold;
}
.thanks {
  font-size: 1.3em;
  text-align: center;
}

/* Footer */

.footer {
  margin-top: 20px;
  text-align: center;
}
.footer p.meta {
  color: #6F6F6F;
}

/* Narrow */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .donation-title {
    flex-direction: column;
  }
  .donation-title h1 { 
    text-align: left;
  }
  .donation-title .noisebridge-logo {
    width: 80px;
  }

  .thanks {
    font-size: 1.3em;
    text-align: left;
  }
  .thanks img {
    display: none;
  }
  .thanks-title h1 {
    text-align: left;
  }

  .footer {
    text-align: left;
  }
}

/* Medium */
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .container {
    max-width: 800px;
  }

  .donation-title {
    flex-direction: column;
  }
  .donation-header .noisebridge-logo {
    width: 100px;
  }
}

.row:not(:first-child) {
  margin-top: 25px;
}
